* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --night: #0D3B66;
    --day: #F4D35E;
    --fColor: #FAF0CA;
    --primary: #F95738;
    --secondary: #EE964B;

}


header {
    text-align: center;
    background-color: var(--primary);
    height: 70px;
    border-bottom: 4px solid hsla(0, 0%, 100%, .3);
}

body {
    background-color: var(--day);
    
}

h2 {
    
    min-width: 70px;
    color: var(--fColor);
}


aside {
    background-color: var(--secondary);
    color: whitesmoke;
    width: 100%;
    max-width: 350px;
    height: calc(100vh - 70px); /*the 70 comes from the height of the header*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-right: 4px solid hsla(0, 0%, 100%, .3);

  }


  .sidebar__stats, .sidebar__actions{
    padding: 10px;
    background-color: rebeccapurple;
    width: 90%;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 4px solid hsla(0, 0%, 100%, .3);
    margin: 10px;
  }

  .sidebar__actions{
    cursor: pointer;
    border-radius: 10px;
  }


  .bi-triangle {
      height: 100px;
      width: 100px;
      
  }

  main {
      position: absolute;
      left: 50%;
      bottom: 50%;
  }